{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta_description %}{{ post.digest }}{% endblock %}

{% block body %}
    <div class="post">
        <div class="post-metadata">
            <div class="top-metadata">
                <a href="{{ app.request.headers.has('referer') ? app.request.headers.get('referer') : path('app_index') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
                        <g fill="none" stroke="#B4A7B4" stroke-width="1.5">
                            <circle cx="12" cy="12" r="10"></circle>
                            <path stroke-linecap="round" stroke-linejoin="round" d="m13.5 9l-3 3l3 3"></path>
                        </g>
                    </svg>
                </a>
                <twig:PostDate created="{{ post.created }}" modified="{{ post.modified }}" size="1rem" />
                {% if app.user and app.user.id is same as post.author.id %}
                    <a class="edit-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
                            <g fill="none" stroke="#B4A7B4" stroke-width="1.5">
                                <path stroke-linecap="round" d="M22 10.5V12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2h1.5"></path>
                                <path d="m16.652 3.455l.649-.649A2.753 2.753 0 0 1 21.194 6.7l-.65.649m-3.892-3.893s.081 1.379 1.298 2.595c1.216 1.217 2.595 1.298 2.595 1.298m-3.893-3.893L10.687 9.42c-.404.404-.606.606-.78.829c-.205.262-.38.547-.524.848c-.121.255-.211.526-.392 1.068L8.412 13.9m12.133-6.552l-5.965 5.965c-.404.404-.606.606-.829.78a4.59 4.59 0 0 1-.848.524c-.255.121-.526.211-1.068.392l-1.735.579m0 0l-1.123.374a.742.742 0 0 1-.939-.94l.374-1.122m1.688 1.688L8.412 13.9"></path>
                            </g>
                        </svg>
                    </a>
                {% endif %}
            </div>
            <h3>
                {{ post.title }}
            </h3>
        </div>
        <hr>
        <div class="post-content">
            {% apply markdown_to_html %}
                {{ post.content }}
            {% endapply %}
        </div>
    </div>
{% endblock %}
