{% extends 'login/logged_out_base.html.twig' %}

{% block title %}Login{% endblock %}

{% block head %}
    <!-- make this a random image that is in the db -->
    <style>
        .login-background-image {
            background-image: url("{{ asset('images/login.jpg') }}");
        }
    </style>
{% endblock %}

{% block body %}
    <main>
        <div class="login-form-container">
            <twig:Flash />
            <form action="{{ path('app_login') }}" method="post">
                <twig:LabeledInput>
                    <label for="username">Email*</label>
                    <input type="text" id="username" name="_username">
                </twig:LabeledInput>

                <div class="password-remember-container">
                    <twig:LabeledInput>
                        <label for="password">Password*</label>
                        <input type="password" id="password" name="_password">
                    </twig:LabeledInput>
                    <twig:Checkbox name="_remember_me" checked="true">
                        Keep me logged in
                    </twig:Checkbox>
                </div>

                <button type="submit">Login</button>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path" value="/">
            </form>
            {% if app.request.headers.get('referer') is not same as(url('app_register')) %}
                <p>Don't have an account? <a href="{{ path('app_register') }}" class="highlighted-text">Register</a></p>
            {% else %}
                <a href="{{ path('app_register') }}" class="highlighted-text">Take me back!</a>
            {% endif %}
        </div>
        <div class="login-background-image">
            <svg viewBox="0 0 100 1080" xmlns="http://www.w3.org/2000/svg">
                <path d="M52.6616 810C103.929 701 112.61 636.5 52.6616 540C-7.28678 443.5 -8.29372 349.5 52.6616 270C113.617 190.5 117.906 96.5 52.6616 0H0V1080H52.6616C-3.32798 982 1.39424 919 52.6616 810Z" fill="#19091B"></path>
            </svg>
        </div>
    </main>
{% endblock %}
