{% set user = getUser() %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% block meta %}
            <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon" />
            <meta property="og:title" content="{{ block('title') }}" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ url(app.request.attributes.get('_route')) }}" />
            <meta property="og:image" content="{{ asset('images/profilePictures/nano.png') }}" />
            <meta property="og:description"
                  content="
                {% block meta_description %}
                    Welcome to my beautiful personal website! It even has a blog, sorta!
                {% endblock %}
              "
            />
            <meta name="theme-color" content="#DA3C97">

            <!-- Include this to make the og:image larger -->
            <meta name="twitter:card" content="summary_large_image">
        {% endblock %}

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="sticky">
            <span><a href="{{ path('app_index') }}">Home</a></span>
            {% if user is not empty %}
                <img src="{{ asset(user.profilePicture.path) }}"  alt="{{ user.profilePicture.description }}"/>
            {% else %}
                <span><a href="{{ path('app_login') }}">Login</a></span>
            {% endif %}
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
