{% extends 'email/base.html.twig' %}

{% set linkWithCode = url('app_account_confirm_email', { code: token }, ) %}
{% set link = url('app_account_confirm_email') %}

{% block body %}
    <div class="email-part">
        <h3>Welcome to nanoyaki.space!</h3>
        <br>
        <p>
            Thank you for signing up at nanoyaki.space!<br>
            To confirm your E-Mail, please enter this code:<br><br>
            <span class="highlighted-text big-text center">{{ token }}</span><br><br>
            at <a href="{{ link }}">{{ link }}</a><br>
            or click this link to confirm it directly: <a href="{{ linkWithCode }}">{{ linkWithCode }}</a>
        </p>
    </div>
{% endblock %}