{% set linkWithCode = path('app_account_confirm_email', { code: token }) %}
{% set link = path('app_account_confirm_email') %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Welcome to nanoyaki.space</title>
</head>

<body>
    <div>
        <h3>Welcome to nanoyaki.space!</h3>

        <!--
            TODO: add proper styling
        -->
        <p>
            Thank you for signing up at nanoyaki.space!<br>
            To confirm your E-Mail, please enter the code {{ token }} at 
            <a href="{{ link }}">
                {{ link }}
            </a><br>
            or click this link to confirm it directly: <a href="{{ linkWithCode }}">{{ linkWithCode }}</a>
        </p>
    <div>
</body>

</html>